# Node modules
node_modules/

# Build outputs
packages/*/dist/
packages/*/.vite/
# If your remoteEntry.js files are placed directly in public within each app's folder
# ensure those public folders are not being accidentally excluded if they need to be deployed.
# Typically, the parent app's (cross-finance) dist folder should contain everything.

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vercel/